* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-bottom: 0.5px solid black;
  border-right: 0.5px solid black;
}

th,
td {
  border-top: 0.5px solid black;
  border-left: 0.5px solid black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
